@import '../common';

.navbar {
  height: 6.5rem;
  background-color: $primaryColor;
  padding: 1rem;



  .nav-links,
  .logo {
    display: flex;
    flex-direction: row;
    img {
      height: 100px;
      display: inline-block;
      padding-right:20px;
    }
    h1 {
      display: inline-block;
      align:bottom;
    }
  }

  .logo {
    color: $lightTextColor;
    margin-right: 50%;
  }

  .nav-links span {
    color: $lightTextColor;
    font-size: 1.6rem;
  }
}
